<a href="https://colab.research.google.com/github/mohit-31/cv/blob/main/Modified_Mrged_Month_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd
import numpy as np

df = pd.read_csv('tempal2.txt', sep=" ",header=None)
df.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec","la")
df_min=pd.read_csv('min_temp.txt', sep=" ",header=None)
df_min.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec","la")

In [57]:

df_w=pd.read_csv('wind_sp.txt', sep=" ",header=None)
df_w.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
df_w;

In [58]:

hum=pd.read_csv('humid.txt', sep=" ",header=None)
hum.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
hum;

In [59]:
cloud=pd.read_csv('cloud.txt', sep=" ",header=None)
cloud.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
cloud;

In [60]:
rain_mi=pd.read_csv('rain_min.txt', sep=" ",header=None)
rain_mi.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
rain_mi;

In [61]:
rainy_day=pd.read_csv('rainy_day.txt', sep=" ",header=None)
rainy_day.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
rainy_day;

In [62]:
df=df[['jan','f','ma',"ap","mar","jun","jul","aug","sep","oct","nov","dec"]]
df;

In [63]:
df_min=df_min[['jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec"]]
df_min;

In [64]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
z = pd.DataFrame(columns = column_names)
z["max_temp(c)"]=df['jan']
z["min_temp(c)"]=df_min['jan']
z["mean_windspeed(km/hr)"]=df_w['jan']
z["re_hum(%)"]=hum['jan']
z["cloud(okta)"]=cloud["jan"]
z["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
z["Mean_rain(mm)"]=rain_mi['jan'];
z["avg._no._rainyday"]=rainy_day["jan"]
z

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          24.6         11.9  ...                0.9    Bhagalpur
1          22.9         10.5  ...                1.2       chapra
2          23.2          9.3  ...                0.8    Darbhanga
3          23.8          8.6  ...                1.6        Dehri
4          23.5          9.4  ...                0.7   Forbesganj
5          23.5          8.9  ...                0.9         Gaya
6          24.8         11.1  ...                0.9        jamui
7          22.4          8.4  ...                1.4     Motihari
8          22.6          9.6  ...                0.9  Muzaffarpur
9          23.3          9.1  ...                1.0        patna
10         24.0          7.8  ...                0.7       Purnea
11         22.8          8.1  ...                1.3       Raxaul
12         23.2          7.8  ...                0.9       Sabour
13         23.7          9.8  ...                0.8       Supaul

[14 rows x 8 columns]

In [65]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
y = pd.DataFrame(columns = column_names)
y["max_temp(c)"]=df['f']
y["min_temp(c)"]=df_min['f']
y["mean_windspeed(km/hr)"]=df_w['f']
y["re_hum(%)"]=hum['f']
y["cloud(okta)"]=cloud["f"]
y["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
y["Mean_rain(mm)"]=rain_mi['f'];
y["avg._no._rainyday"]=rainy_day["f"]
y

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          27.4         14.1  ...                0.9    Bhagalpur
1          26.4         12.5  ...                0.9       chapra
2          25.9         11.3  ...                0.7    Darbhanga
3          26.6         11.2  ...                1.4        Dehri
4          26.1         11.3  ...                0.6   Forbesganj
5          26.8         11.6  ...                0.9         Gaya
6          28.0         13.4  ...                0.7        jamui
7          25.2         10.5  ...                1.1     Motihari
8          25.3         11.8  ...                0.9  Muzaffarpur
9          26.0         11.3  ...                0.8        patna
10         26.7         10.0  ...                0.7       Purnea
11         25.1          9.6  ...                0.4       Raxaul
12         26.1          9.8  ...                1.0       Sabour
13         26.5         11.6  ...                0.8       Supaul

[14 rows x 8 columns]

In [66]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
x = pd.DataFrame(columns = column_names)
x["max_temp(c)"]=df['mar']
x["min_temp(c)"]=df_min['mar']
x["mean_windspeed(km/hr)"]=df_w['mar']
x["re_hum(%)"]=hum['mar']
x["cloud(okta)"]=cloud["mar"]
x["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
x["Mean_rain(mm)"]=rain_mi['mar'];
x["avg._no._rainyday"]=rainy_day["mar"]
x

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          33.6         19.3  ...                0.8    Bhagalpur
1          32.5         17.5  ...                0.7       chapra
2          31.2         15.6  ...                0.7    Darbhanga
3          32.9         15.7  ...                1.1        Dehri
4          31.3         15.6  ...                0.8   Forbesganj
5          33.2         16.4  ...                0.7         Gaya
6          33.4         18.1  ...                0.6        jamui
7          31.0         14.8  ...                1.0     Motihari
8          30.9         16.4  ...                0.6  Muzaffarpur
9          32.3         16.2  ...                0.7        patna
10         32.0         14.5  ...                0.9       Purnea
11         30.9         13.4  ...                0.9       Raxaul
12         32.4         14.4  ...                0.7       Sabour
13         31.4         15.3  ...                0.8       Supaul

[14 rows x 8 columns]

In [67]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
wo = pd.DataFrame(columns = column_names)
wo["max_temp(c)"]=df['ap']
wo["min_temp(c)"]=df_min['ap']
wo["mean_windspeed(km/hr)"]=df_w['ap']
wo["re_hum(%)"]=hum['ap']
wo["cloud(okta)"]=cloud["ap"]
wo["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
wo["Mean_rain(mm)"]=rain_mi['ap'];
wo["avg._no._rainyday"]=rainy_day["ap"]
wo

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          37.5         23.4  ...                1.3    Bhagalpur
1          37.5         23.0  ...                0.7       chapra
2          35.4         20.1  ...                1.4    Darbhanga
3          38.6         20.9  ...                0.9        Dehri
4          34.2         20.6  ...                2.2   Forbesganj
5          38.9         22.5  ...                0.4         Gaya
6          38.8         23.2  ...                0.8        jamui
7          35.3         19.6  ...                0.8     Motihari
8          35.2         21.5  ...                1.1  Muzaffarpur
9          37.2         22.0  ...                0.7        patna
10         35.4         19.7  ...                2.1       Purnea
11         35.2         19.8  ...                0.8       Raxaul
12         36.8         20.7  ...                1.2       Sabour
13         35.8         20.6  ...                1.8       Supaul

[14 rows x 8 columns]

In [68]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
v = pd.DataFrame(columns = column_names)
v["max_temp(c)"]=df['ma']
v["min_temp(c)"]=df_min['ma']
v["mean_windspeed(km/hr)"]=df_w['ma']
v["re_hum(%)"]=hum['ma']
v["cloud(okta)"]=cloud["ma"]
v["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
v["Mean_rain(mm)"]=rain_mi['ma'];
v["avg._no._rainyday"]=rainy_day["ma"]
v

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          37.5         24.8  ...                3.5    Bhagalpur
1          38.4         25.5  ...                1.9       chapra
2          35.6         22.2  ...                3.2    Darbhanga
3          40.5         23.5  ...                1.7        Dehri
4          34.0         23.3  ...                5.5   Forbesganj
5          40.5         25.9  ...                1.2         Gaya
6          40.2         26.1  ...                2.2        jamui
7          35.7         23.0  ...                3.0     Motihari
8          35.6         24.5  ...                3.1  Muzaffarpur
9          38.0         24.9  ...                1.6        patna
10         34.7         22.4  ...                5.7       Purnea
11         35.5         23.3  ...                2.8       Raxaul
12         36.8         23.7  ...                4.1       Sabour
13         35.1         23.1  ...                4.4       Supaul

[14 rows x 8 columns]

In [69]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
u = pd.DataFrame(columns = column_names)
u["max_temp(c)"]=df['jun']
u["min_temp(c)"]=df_min['jun']
u["mean_windspeed(km/hr)"]=df_w['jun']
u["re_hum(%)"]=hum['jun']
u["cloud(okta)"]=cloud["jun"]
u["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
u["Mean_rain(mm)"]=rain_mi['jun'];
u["avg._no._rainyday"]=rainy_day["jun"]
u

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          36.0         26.4  ...                8.2    Bhagalpur
1          36.9         26.9  ...                6.0       chapra
2          34.9         23.8  ...                6.6    Darbhanga
3          38.5         24.6  ...                6.1        Dehri
4          33.1         25.1  ...               10.0   Forbesganj
5          38.0         27.3  ...                5.9         Gaya
6          37.3         27.2  ...                7.3        jamui
7          34.8         25.1  ...                8.5     Motihari
8          34.5         26.3  ...                6.4  Muzaffarpur
9          36.5         26.6  ...                5.3        patna
10         33.7         24.4  ...               10.0       Purnea
11         34.4         25.4  ...                7.5       Raxaul
12         35.2         25.6  ...                8.1       Sabour
13         34.5         24.7  ...                8.3       Supaul

[14 rows x 8 columns]

In [70]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
to = pd.DataFrame(columns = column_names)
to["max_temp(c)"]=df['jul']
to["min_temp(c)"]=df_min['jul']
to["mean_windspeed(km/hr)"]=df_w['jul']
to["re_hum(%)"]=hum['jul']
to["cloud(okta)"]=cloud["jul"]
to["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
to["Mean_rain(mm)"]=rain_mi['jul'];
to["avg._no._rainyday"]=rainy_day["jul"]
to

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          33.1         26.2  ...               13.8    Bhagalpur
1          33.1         26.3  ...               12.8       chapra
2          32.6         24.3  ...               12.5    Darbhanga
3          33.5         23.0  ...               14.9        Dehri
4          31.9         25.5  ...               16.2   Forbesganj
5          33.3         25.8  ...               12.4         Gaya
6          33.3         26.3  ...               13.8        jamui
7          32.4         25.4  ...               13.8     Motihari
8          32.4         26.3  ...               12.8  Muzaffarpur
9          32.9         26.0  ...               12.6        patna
10         32.0         24.8  ...               16.7       Purnea
11         32.2         25.6  ...               12.2       Raxaul
12         32.7         25.5  ...               15.3       Sabour
13         32.5         24.2  ...               14.3       Supaul

[14 rows x 8 columns]

In [71]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
t = pd.DataFrame(columns = column_names)
t["max_temp(c)"]=df['aug']
t["min_temp(c)"]=df_min['aug']
t["mean_windspeed(km/hr)"]=df_w['aug']
t["re_hum(%)"]=hum['aug']
t["cloud(okta)"]=cloud["aug"]
t["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
t["Mean_rain(mm)"]=rain_mi['aug'];
t["avg._no._rainyday"]=rainy_day["aug"]
t

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          32.9         26.3  ...               12.4    Bhagalpur
1          32.5         26.2  ...               12.2       chapra
2          32.7         24.6  ...               10.6    Darbhanga
3          32.6         22.6  ...               14.0        Dehri
4          32.3         25.3  ...               13.3   Forbesganj
5          32.7         25.6  ...               12.2         Gaya
6          32.6         26.1  ...               12.6        jamui
7          32.4         25.5  ...               11.6     Motihari
8          32.6         26.4  ...               11.5  Muzaffarpur
9          32.5         26.0  ...               10.9        patna
10         32.2         24.9  ...               13.8       Purnea
11         32.4         25.6  ...               11.5       Raxaul
12         32.3         25.6  ...               11.6       Sabour
13         32.7         25.0  ...               12.3       Supaul

[14 rows x 8 columns]

In [72]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
s = pd.DataFrame(columns = column_names)
s["max_temp(c)"]=df['sep']
s["min_temp(c)"]=df_min['sep']
s["mean_windspeed(km/hr)"]=df_w['sep']
s["re_hum(%)"]=hum['sep']
s["cloud(okta)"]=cloud["sep"]
s["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
s["Mean_rain(mm)"]=rain_mi['sep'];
s["avg._no._rainyday"]=rainy_day["sep"]
s

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          33.1         25.9  ...                9.8    Bhagalpur
1          32.3         25.7  ...                9.0       chapra
2          32.6         24.3  ...                8.1    Darbhanga
3          32.5         22.3  ...                9.5        Dehri
4          32.0         24.8  ...               10.7   Forbesganj
5          32.6         24.9  ...                8.8         Gaya
6          32.4         25.6  ...               10.2        jamui
7          32.2         24.5  ...                8.8     Motihari
8          32.1         25.4  ...                8.7  Muzaffarpur
9          32.3         25.2  ...                8.6        patna
10         32.1         24.1  ...               11.2       Purnea
11         32.1         24.5  ...                7.8       Raxaul
12         32.3         24.8  ...                9.6       Sabour
13         32.2         24.7  ...                9.8       Supaul

[14 rows x 8 columns]

In [73]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
r = pd.DataFrame(columns = column_names)
r["max_temp(c)"]=df['oct']
r["min_temp(c)"]=df_min['oct']
r["mean_windspeed(km/hr)"]=df_w['oct']
r["re_hum(%)"]=hum['oct']
r["cloud(okta)"]=cloud["oct"]
r["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
r["Mean_rain(mm)"]=rain_mi['oct'];
r["avg._no._rainyday"]=rainy_day["oct"]
r

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          32.4         23.1  ...                3.2    Bhagalpur
1          31.8         22.7  ...                2.6       chapra
2          31.7         21.6  ...                2.2    Darbhanga
3          32.0         18.5  ...                2.8        Dehri
4          31.4         21.7  ...                3.0   Forbesganj
5          31.6         21.0  ...                2.1         Gaya
6          31.6         22.3  ...                2.9        jamui
7          31.5         20.7  ...                2.2     Motihari
8          31.3         21.8  ...                2.2  Muzaffarpur
9          31.6         21.4  ...                2.2        patna
10         31.4         20.6  ...                3.3       Purnea
11         31.2         20.7  ...                1.9       Raxaul
12         31.5         21.3  ...                4.0       Sabour
13         31.6         21.8  ...                2.5       Supaul

[14 rows x 8 columns]

In [74]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
q = pd.DataFrame(columns = column_names)
q["max_temp(c)"]=df['nov']
q["min_temp(c)"]=df_min['nov']
q["mean_windspeed(km/hr)"]=df_w['nov']
q["re_hum(%)"]=hum['nov']
q["cloud(okta)"]=cloud["nov"]
q["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
q["Mean_rain(mm)"]=rain_mi['nov'];
q["avg._no._rainyday"]=rainy_day["nov"]
q

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          30.0         17.8  ...                0.3    Bhagalpur
1          28.9         16.7  ...                0.3       chapra
2          28.9         15.6  ...                0.3    Darbhanga
3          29.4         12.6  ...                0.4        Dehri
4          28.9         15.7  ...                0.3   Forbesganj
5          28.9         14.3  ...                0.5         Gaya
6          29.4         16.7  ...                0.4        jamui
7          28.7         14.4  ...                0.3     Motihari
8          28.7         15.6  ...                0.5  Muzaffarpur
9          28.9         14.9  ...                0.3        patna
10         29.1         14.1  ...                0.5       Purnea
11         28.7         14.3  ...                0.1       Raxaul
12         28.6         14.2  ...                0.1       Sabour
13         29.0         15.6  ...                0.4       Supaul

[14 rows x 8 columns]

In [75]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
p = pd.DataFrame(columns = column_names)
p["max_temp(c)"]=df['dec']
p["min_temp(c)"]=df_min['dec']
p["mean_windspeed(km/hr)"]=df_w['dec']
p["re_hum(%)"]=hum['dec']
p["cloud(okta)"]=cloud["dec"]
p["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
p["Mean_rain(mm)"]=rain_mi['dec'];
p["avg._no._rainyday"]=rainy_day["dec"]
p

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          25.8         12.9  ...                0.5    Bhagalpur
1          24.4         11.7  ...                0.6       chapra
2          24.7         10.7  ...                0.5    Darbhanga
3          25.2          8.5  ...                0.6        Dehri
4          25.4         10.6  ...                0.6   Forbesganj
5          24.7          9.5  ...                0.7         Gaya
6          25.9         12.4  ...                0.4        jamui
7          24.4          9.8  ...                0.1     Motihari
8          24.5         10.8  ...                0.4  Muzaffarpur
9          24.5          9.8  ...                0.4        patna
10         25.4          9.0  ...                0.6       Purnea
11         24.5          8.7  ...                0.2       Raxaul
12         24.4          8.7  ...                0.7       Sabour
13         25.1         10.8  ...                0.4       Supaul

[14 rows x 8 columns]

In [76]:
import pandas as pd
list_of_dataframes=[z,y,x,wo,v,u,to,t,s,r,q,p]
df = pd.concat(list_of_dataframes)
df

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday    district
0          24.6         11.9  ...                0.9   Bhagalpur
1          22.9         10.5  ...                1.2      chapra
2          23.2          9.3  ...                0.8   Darbhanga
3          23.8          8.6  ...                1.6       Dehri
4          23.5          9.4  ...                0.7  Forbesganj
..          ...          ...  ...                ...         ...
9          24.5          9.8  ...                0.4       patna
10         25.4          9.0  ...                0.6      Purnea
11         24.5          8.7  ...                0.2      Raxaul
12         24.4          8.7  ...                0.7      Sabour
13         25.1         10.8  ...                0.4      Supaul

[168 rows x 8 columns]